table {
    color: #fff;
    text-align: center;
    border-collapse: collapse;
    font: normal 3m Arial, Helvetica, sans-serif;
}

tr {
    height: 16.02vh;
    background-color: #4e494d;
}

td {
    border: 1px solid #4e494d;
    width: 25vw;
    border-radius: 18px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.9);
}

#inputBox {
    background-color: #4e494d;
    text-align: right;
    width: 99%;
    height: 16.02vh;
    font-size: 2em;
    color: #fff;
    border: 0px;
}

.digitButton {
    background-color: #807e80;
    
}

td:hover {
    background-color: #5c585c;
}
.operatorButton {
    background-color: #ff9e06;
}

.ACButton {
    background-color: #656165;
}
    